
div
{
    margin-bottom: 5px;
}

label 
{
    display: block;
    float: left;
    width: 150px;
    text-align: right;
    font-weight: bold;
    margin-right: 10px;
}

input.submit 
{
    margin-left: 160px;
}
